@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>金融交易</h1>
    <p class="lead">金融交易模块说明.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">金融交易</a></p>*@
    <p>@Html.ActionLink("金融管理", "Index", "Business", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>管理中心</h2>
        <p>    负责整个系统的用户管理.</p>
        <p>@Html.ActionLink("用户管理", "UserList", "Manage", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>门禁管理</h2>
        <p>    门禁管理模块说明.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">门禁管理</a></p>
    </div>
    <div class="col-md-4">
        <h2>制卡中心</h2>
        <p>    制卡中心模块说明【只允许有“制卡员”权限的用户登陆】.</p>
        <p>@Html.ActionLink("制卡管理", "UserList", "MakeCard", new { area = "" }, new { @class = "btn btn-default" })</p>
    </div>
</div>